.c2r-comment {
    display: none;
    margin-top: 30px;
}
.c2r-container {
    padding: 15px;
    border: 1px solid #dedede;
    background-color: #f7f7f7;
}
.c2r-button {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border: 0px;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-shadow: none;
    width: 80%;
    margin: 0 auto;
    display: block;
    color: #fff;
    background-color: #0288d1;
}
.c2r-button:focus {
    background: #025786;
    text-decoration: none;
}
.c2r-button:hover {
    background: #025786;
    text-decoration: none;
}
