/* CSS for Click2RevealXBlock */
.c2r-comment{
	display: none; 
	margin-top: 30px;
}
.c2r-container{
	padding: 15px; 
	border: 1px solid #dedede; 
	-webkit-border-radius: 0px 25px 0px 25px;
	border-radius: 0px 25px 0px 25px;
}
    .c2r-button {
    width: 40%;
    min-width: 250px;
    margin: 0 auto;
    display: block;
}