.c2r-comment {
    display: none;
    margin-top: 30px;
}
.c2r-container {
    padding: 15px;
    border: 1px solid #dedede;
    background-color: #f7f7f7;
}
.c2r-button {
    -webkit-border-radius: 8 !important;
    -moz-border-radius: 8 !important;
    border: 0px !important;
    border-radius: 8px !important;
    padding: 10px 20px 10px 20px !important;
    text-decoration: none !important;
    text-shadow: none !important;
    width: 80%;
    margin: 0 auto;
    display: block;
    color: #fff;
    background-color: #0075b4 !important;
    background-image: none !important;
}
.c2r-button:focus {
    background: #065683 !important;
    text-decoration: none !important;
}
.c2r-button:hover {
    background: #065683 !important;
    text-decoration: none !important;
}
